{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}
    <h2>Página da web totalmente desenhada por Matheus!</h2>
    <form action="{{ url_for('apresentacao')}}" method="POST">
        <div class="row">
            <div class="col-sm-4"><input type="text" name="nome" placeholder="Seu nome..."></div>
            <div class="col-sm-8"><button >Clica!</button></div>
          </div>
    </form>
    <div class="row">
        <div class="col-sm-4"><p><a href="{{ url_for('niver')  }}">Será que hoje é seu niver?</a></p></div>
        <div class="col-sm-8"><p><a href="{{ url_for('nome')  }}">Meu nome completo</a></p></div>
      </div>
{% endblock %}